rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /tournaments/{tournamentId} {
      allow read, write: if true;
    }
    match /customMatches/{matchId} {
      allow read, write: if true;
    }
    match /verificationRequests/{requestId} {
      allow read, write: if true;
    }
    match /userSchedules/{userId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
